<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Complication - DartzWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Dartz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DartzWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Glance - DartzWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49435D7A1BD3B0A400AB0CC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49E4B5221BBAC71000C06AFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49E4B5361BBAC71000C06AFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49E4B5411BBAC71000C06AFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49FDFF171BD39851003821B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
